button {
  padding: 10px;
  border: none;
  background-color: #ccc;
  color: #fff;
  cursor: pointer;
}

button.on {
  background-color: green;
}

button.off {
  background-color: red;
}
  ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
    }

    li {
      float: left;
    }
 
    .move-right {
      margin-right: 150px;
    }
 
   li a {
   display: block;
   color: white;
   text-align: center;
   padding: 14px 12px;
   text-decoration: none;
    }

   li a:hover {
   background-color: #111;
   }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      z-index: 1;
    }

    .dropdown:hover .dropdown-content {
      display: block;
    }

    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }

    .dropdown-content a:hover {
      background-color: #f1f1f1;
    }
    #Routes{
      width: 65%;
      height: 45%;
      margin-top:0%;
      
   }
   #Route_1{
     margin-top:1%;
     margin-left:28%;
     margin-right:0%;
     margin-bottom:1%;
     background-color:green;
          }
    #Route_2{
     margin-top:1%;
     margin-left:30%;
     margin-right:30%;
     margin-bottom:1%;
     background-color:green;
          }
#Route_1_1{
    margin-top:1%;
     margin-left:24%;
     margin-right:0%;
     margin-bottom:1%;
     background-color:red;
}
#Route_2_1{
   margin-top:1%;
     margin-left:24%;
     margin-right:26%;
     margin-bottom:1%;
     background-color:red;
}
#Route_1_2{
    margin-top:1%;
     margin-left:24%;
     margin-right:0%;
     margin-bottom:1%;
     background-color:red;
}
#Route_2_2{
   margin-top:1%;
     margin-left:24%;
     margin-right:0%;
     margin-bottom:1%;
     background-color:red;
}
